@media screen {



body {
	margin: 0;
	background-color: #eae5ba;
	font-family: 'Liberation Sans', Arial, sans-serif;
  width: 100%;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*fixed elements*/

.title {
  margin:0px;
  background-color: white;
  width: 100%;
  height: 100px;
  float: left;
  display: block;
/*  position: relative;*/
  top:0px;
  left:0px;
  margin-top: -30px;
}


h1 {
  margin-top: 40px;
/*  margin-top:40px;*/
 font-family: 'Kavivanar', cursive;
 text-transform: uppercase;  
 font-size: 70px;
color: black;
font-weight: normal;
line-height: 20px;
}


.titlechapter{
  background-color: white;
  width: 100%;
  height: 100px;
  float: left;
  top:0px;
  left:0px;
  display: block;
}

.corner {
  width: 25%;
  height: 100px;
  position: fixed;
  top: 0px;
  right:0px;
  z-index:20;
  background-color: black;
}

/*chapters and images*/


#indexintro {
width: 100%;
float:left;
background-color: #ff3100;
position: relative;
height: 1200px;
border: blue 1px solid;
}

.chapterone {
width: 100%;
float:left;
background-color: #ff3100;
position: relative;
height: 1800px;
border: blue 1px solid;
}

.leftblock {
  width: 50%;
  float: left;
}

.rightblock {
  width:50%;
  float: left;
}

.imageblock {
  float:left;
  display: inline-block;
  height: 600px;
  width:50%;
  background-color: #eae5ba;
}

.quote {
  float:left;
  display: inline-block;
  height: 600px;
  width:50%;
  background-color: #eae5ba;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-left: 100px solid transparent;
  position: absolute;
  right: 0px;
  top: 0px;
}

.index{
  width:50%;
  background-color: #ecff51;
}

.intro {
  float:left;
  display: inline-block;
  background-color: #ff3100;
  width:100%;
  height: 1200px;
}



.index,.par2,.par3 {
  float:left;
  display: inline-block;
  height: 600px;
}





img {
  width:80%;
  margin:10%;
}

.par2{
  width:50%;
  background-color: #eae5ba;
}




.par4{
  width:50%;
 /* background-color: #ecff51;*/
/* background-image: url('../img/figure1b.jpg');*/
      float: left;
    display: inline-block;
    height: 600px;
    background-color: #ecff51;
}


.par5{
  width:50%;
  background-color: #eae5ba;
      float: left;
    display: inline-block;
    height: 600px;
}

.chapeenpareen {
  width: 100%;
  height: 1200px;
  float: left;
  position:relative;
  background-color: blue;
  display: inline-block;

}

.chap1in {
  width: 100%;
  height: 400px;
  float: left;
  position:relative;
  background-color: black;
  display: inline-block;
}

.chap1in p {
  color: white ;
}

.chapeenpunteen {
  width: 100%;
  height: 400px;
  float: left;
  background-color: white;
  z-index: 10;
  display: block;
}

.chapeenpunteenb {
  width: 100%;
  height: 800px;
  float: left;
  background-color: white;
  z-index: 10;
  display: block;
}

.chap1par1{
  background-color: white;
  width: 100%;
  height: 800px;
  float: left;
  display: inline-block;
}

.par8 {
     background-color: #eae5ba;
  background-color: #ff3100;

  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;

}

.par9{
  width:100%;
 float: left;
    display: inline-block;
    height: 400px;
background-color: #ff3100;
}



.par10 {
  background-color: white;
  width: 50%;
  height: 600px;
  float: left;
  display: inline-block;
}

.par11{
  background-color: #ecff51;
  width: 50%;
  height: 400px;
  float: left;
  display: inline-block;

}


.par12{
  width:50%;
  background-color: #eae5ba;
  background-color: green;
  float: left;
  display: inline-block;
  height: 600px;
}


.par13 {
  background-color: white;
  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;
}

.par14 {
  background-color: #ff3100;
 background-color: #eae5ba;
  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;
}

.par15{
  background-color: #ff3100;
  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;

}


.par16{
  width:50%;
  background-color: #eae5ba;
      float: left;
    display: inline-block;
    height: 600px;
}


.par17 {
  background-color: white;
  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;
}

.par18 {
  background-color: #ff3100;
  width: 100%;
  height: 400px;
  float: left;
  display: inline-block;

}




.quote p {
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 50px; 
  line-height: 50px;
  text-align: center;
  margin-top:100px;
}




.beeld {
  background-color: #ecff51;
  width: 400px;
  height: 400px;
}

.beeld img{
  margin-top:-40px;
  margin-left:5%;
  width:90%;
}




::-webkit-scrollbar { 
    display: none; 
}




/*textstyles*/

.index p, .par1 p, .beeld p {
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 16px;
  color: black;
  font-weight: normal;
  line-height: 20px;
  width:70%;
}

p {
  margin: 30px;
  font-family: 'Libre Baskerville', serif;
    font-family: 'Kavivanar', cursive;
  
  font-size: 16px;

  line-height: 27px;
  
/*  font-family: 'PT Serif', serif;
    font-size: 22px;
   line-height: 25px;*/
  width: 75%;
  
}

h3 {
  width: 400px;
  height: 100px;
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 16px;
  color: black;
  font-weight: normal;
  line-height: 20px;
  position: absolute;


    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

/*  top: 40%;
  right: -10%*/

  top: 280px;
  right:-126px;
}

.corner p {
  color:white;
   font-family: 'Kavivanar', cursive;
  text-transform: uppercase;
  width: 100%;
}




.quoteliggend{
  float:left;
  display: inline-block;
  background-color: white;
  width:100%;
  height: 600px;
}

.quoteliggend p {
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 50px; 
  line-height: 55px;
  text-align: center;
 
  margin:auto;
  margin-top: 100px;
  width:600px;

/*  transform: translateX(-50%) translateY(-50%);*/
}

/*italic {

  text-decoration: underline;
}
*/

}

.chaptitle {
  display:none;
}


/* end media screen >> begin media print*/


@media print {

  @page {
    size: 210mm 297mm; 
    margin: 0 0 -4px;
    /* landscape */
    /* you can also specify margins here: */ /* for compatibility with both A4 and Letter */
  }

  div {
    box-sizing: border-box;
  }


*{
  margin: 0px;
  padding: 0px;
}

html, body { height: 100% }

body{
  -webkit-print-color-adjust: exact;
} 


.index, .imageblock, .quoteliggend, .intro, .chapeen, .chapeenpareen, .chapeenpartwee, .title, .footnotes{
  page-break-after: always;
  page-break-before: always;
  display: block;
}

p { page-break-inside: avoid;}

.quoteliggend {page-break-inside: avoid}

.chap1par1 p {
  color: black;
}

.title h1 {
   font-family: 'Kavivanar', cursive;
   font-size: 55pt;
  text-transform: uppercase;  
  font-weight: normal;
  padding: 20mm;
  text-align: center;
}


/*Text Styles*/

p {
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'Kavivanar', cursive;
  font-size: 16px;
  line-height: 27px;
/*font-family: 'PT Serif', serif;
    font-size: 22px;
   line-height: 25px;*/
  width: 130mm;
}

h2 {
 
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 40px;
  color: black;
  font-weight: normal;
  line-height: 20px;
  float: left;
}

h3 {
  display:none;
}

.chaptitle {
  display: block;
  float:left;
  margin-left: 30mm;
  margin-top: 30px;
  margin-bottom: 100px;
/*  border: solid 1px black;*/
}

.chaptitle img {
  width:20mm;
}

.ppp {
  float: left;
  display: block;
}

.quoteliggend {
  margin:auto;
  display:block;
}

.corner p {
  padding: 30mm;
  padding-top: 100mm;
  text-align: center;
}

.index p {
    margin-left: 60px;
   text-transform: uppercase;
   width: 130mm;
   padding-top: 30mm;
  }


.quoteliggend p {
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 50px; 
  line-height: 55px;
  text-align: center;
  width:600px;
  color: black;
  padding-top: 100px;
  padding-left: 8mm;
}

.imageblock img {
  width: 150mm;
  padding:30mm;
}

.imageblock {
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
}

.quote {
  margin:auto;
  display:block;
}


.quote p {
  font-family: 'Kavivanar', cursive;
  text-transform: uppercase;  
  font-size: 120px; 
  line-height: 130px;
  text-align: center;
  width:600px;
  color: black;
  padding-top: 100px;
  
}

.footnotes p {
  width: 50mm;
}






}














