body {
	margin: 0;
	background-color: #abdbbf;
  background-color: #d3d1b1;
	font-family: 'Liberation Sans', Arial, sans-serif;
}

/*font-family: 'Libre Baskerville', serif;
font-family: 'Kavivanar', cursive;*/
h1 {
	text-align: center;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
  position: absolute;
}


.side {
  position: absolute;
  width: 50px;
  background-color: #ff290c;
  height: 1000px;
}

#images {
	margin: 0 auto;
	padding: 0;
	width: 30%;
	list-style-type: none;
}



.box2 img{
  width: 100%;
}

.box{
  width:80%;
  height: 200px;
  background-color:white; 
  display: inline-block;
  float:left;
  /*groen*/
}

.box2{

  width: 70%;
  height: 1400px;
  background: #eae5ba;
  display: inline-block;
  float:left;
  margin-left: 20%;
  /*rood*/

}

.para{
  float: left;
  width: 40%;
  margin-left: 5%;
}
.box3{
  width: 50%;
  height: 300px;
  background-color: #0018ce;
  display: inline-block;
  opacity: 0.8;
  float:left;
}

#element::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar { 
    display: none; 
}

.figure img{
  width:600px;
}

p {
  margin: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}

h3 {
  margin: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: red;
}

italic{
  font-style: italic;
}

h1 {
 font-family: 'Kavivanar', cursive;
 text-transform: uppercase;  
 font-size: 100px;
color: black;
font-weight: normal;
line-height: 20px;
}


.startscreen{
  height: 800px;
  width: 100%;
  border: green solid 4px;
}
.move {
   animation: marquee 30s linear infinite;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
 display: block;
 position: relative;
}
.moveA {
  width:10%;
    overflow: hidden;
    white-space: nowrap;
 display: inline-block;
 position: relative;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 12000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 12000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 12000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 12000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0 }
    100% { text-indent: -105em }
}
@keyframes marqueee {
    0%   { text-indent: -105em }
    100% { text-indent: 0em }
}